@import './base.css';
@import 'github-markdown-css/github-markdown.css';
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
}

html {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

body {
  min-height: 100vh;
  min-width: 960px;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.splitpanes__splitter {
  width: 1px !important;
  background-color: var(--vt-c-divider-dark-2) !important;
  border: none !important;
  position: relative;
  overflow: visible;
  transition: background-color 0.3s;
}
.splitpanes__splitter:hover {
  background-color: transparent !important;
}
.splitpanes__splitter:hover::after {
  opacity: 1;
}
.splitpanes__splitter::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 100%;
  background: var(--vt-c-divider-dark-2);
  position: absolute;
  left: -2.5px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 99;
}
.splitpanes__splitter:active::after {
  background: #18a058 !important;
}

.n-popover pre {
  background: var(--color-background-mute);
  margin: 15px 0;
  padding: 15px;
  border-radius: 4px;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.animate__fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}
.animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animate__rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.animate__rotateOut {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
  -webkit-transform-origin: center;
  transform-origin: center;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
    opacity: 0;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
    opacity: 0;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateOut {
  0% {
    opacity: 1;
  }

  to {
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
    opacity: 0;
  }
}

@keyframes rotateOut {
  0% {
    opacity: 1;
  }

  to {
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
    opacity: 0;
  }
}

.markdown-body {
  background-color: transparent;
}
