@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
}

html {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.splitpanes__splitter {
  width: 1px !important;
  background-color: var(--vt-c-divider-dark-2) !important;
  border: none !important;
  position: relative;
  overflow: visible;
  transition: background-color 0.3s;
}
.splitpanes__splitter:hover {
  background-color: transparent !important;
}
.splitpanes__splitter:hover::after {
  opacity: 1;
}
.splitpanes__splitter::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 100%;
  background: var(--vt-c-divider-dark-2);
  position: absolute;
  left: -2.5px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 99;
  border-left: 1px solid var(--vt-c-divider-dark-2);
  border-right: 1px solid var(--vt-c-divider-dark-2);
}
.splitpanes__splitter:active::after {
  background: var(--vt-c-text-dark-2) !important;
}
